#hello{
    height: 100vh;
    background-image: url(./image/sekil.webp) ;
    background-repeat: no-repeat;
    background-size: 100%;
}
#sec2{
    height: 100vh;
    background-image: url(./image/qus.jpg) ;
    background-repeat: no-repeat;
    background-size: 100%;
}







